fastapi==0.119.0
uvicorn==0.37.0
gradio==5.49.1
gradio_client==1.13.3
pandas==2.3.3
numpy==2.2.6
matplotlib-inline==0.1.7
requests==2.32.5
pydantic==2.11.10
pydantic_core==2.33.2
python-multipart==0.0.20
PyYAML==6.0.3
huggingface-hub==0.35.3
openai==2.3.0
playsound==1.2.2
pydub==0.25.1
SpeechRecognition==3.14.3
sounddevice==0.5.2
soundfile==0.13.1
pyttsx3==2.99
aiofiles==24.1.0
Jinja2==3.1.6
starlette==0.48.0
httpx==0.28.1
typing_extensions==4.15.0
